[2012-07-18 20:40] metebalci opened #3 "punctuation marks"
Punctuation marks should be added to api.ObjectiveCPunctuator class. For an example, look at python plugin.

[2012-07-18 20:43] metebalci opened #4 "grammar and parser"
ObjectiveC grammar should be implemented in the parser. This is needed for statement, complexity and such metrics.

[2012-07-19 07:06] fhelg opened #6 "Add Nb of Methods metric"
One of the useful and standard metric of Sonar is to calculate the number of methods in the source code.

In order to implement such metric, we should probably enhance the lexer and parser to make it able to recognize what a method is

[2012-07-19 07:09] #4 closed, assigned to nobody

[2012-07-19 07:11] fhelg opened #7 "Add number of statements metric"
One of the useful and standard metric of Sonar is to calculate the number of statements in the source code.

In order to implement such metric, we should probably enhance the lexer and parser to make it able to recognize what a statement is.

[2012-07-19 07:15] fhelg opened #8 "Add Cyclomatic complexity metric"
One of the standard and useful feature of Sonar is to calculate the
[cyclomatic complexity](http://en.wikipedia.org/wiki/Cyclomatic_complexity) of the source code.

In order to implement such feature, the lexer and parser should be enhanced to make it able to recognize relevant code patterns.

[2012-07-19 07:19] fhelg opened #9 "Enhance documentation - Add a getting started guide"
This section should explain how to download, install and use the plugin.

[2012-07-19 07:22] fhelg opened #10 "Enhance documentation - Add a contributing section"
This section should explain how to contribute to the plugin. It could be added in the readme directly or in a wiki page that a section of the readme points to.

We should tell about buildhive, coding standards, and other subjects we find relevant.

[2012-07-19 07:32] fhelg opened #11 "Add Code Coverage Metric"
One of the standard and useful metric is the code coverage of the source code.

To get this metric, an external tool controlled by Sonar should be used.

Open for comments to discuss implementation details.

[2012-07-19 08:09] fhelg opened #12 "Add a sample project"
We should add a sample project to demonstrate how to analyze an Objective-C project. Loot at [this project](https://github.com/wenns/sample_sonar_python) for inspiration.

[2012-07-26 09:11] fhelg opened #13 "Enhance documentation - Add a feature list"
Add a feature list of the implemented features.

We could list all of the Sonar features and tick the ones already implemented.

[2012-07-26 09:12] fhelg opened #14 "Enhance documentation - Add screenshots"
Add screenshots of the plugin in action.

[2012-07-26 09:15] fhelg opened #15 "Add pointer to the latest SNAPSHOT and release"
Add a pointer to the latest snapshot version of the plugin and to the releases.

[2012-07-26 09:33] #3 closed, assigned to nobody

[2012-07-26 09:39] fhelg opened #16 "Add Nb of Classes metric"
Add the number of Classes metric.

Classes gather classes and protocol. (@interface and @protocol)

[2012-07-26 09:40] fhelg opened #17 "Add number of properties metric"
Add the number of properties metric.

We will only consider @property properties. This is the Objective-C counterpart of the Java accessor.

[2012-07-26 09:45] fhelg opened #18 "Add coupling metric"
Add the coupling metric. LCOM4 and Response for Class.

[2012-07-26 09:46] fhelg opened #19 "Add dependency metric"
Add the dependency metric.

[2012-07-26 10:18] fhelg opened #20 "Add syntaxe highlighting"
Add the syntax highlighting.

[2012-07-26 10:19] #20 closed, assigned to nobody

[2012-10-29 13:19] cyrilpicat opened #21 "Add number of tests / test success metric"

[2013-01-03 11:19] muhlba91 opened #22 "No rules defined"
Hi,

I'm using Sonar 3.3.2 and after installing your plugin the quality profile is shown but it has no rules. Should there be some rules? If so, it's a bug. Otherwise, where can I get some basic rules from and I would suggest adding them by default.

Thanks, Daniel.

[2013-03-02 07:26] fly2never opened #23 "some rules from OCLint"
http://docs.oclint.org/en/dev/rules/index.html

sonar-objective-c can borrow some from that.

[2013-03-20 09:35] rsobik opened #24 "Lexer and Parser Enhancements"
I'm considering in adding some features to this plugin and I'm asking myself how the lexer and parser must be enhanced to allow some other features. I did look into some other language plugins and all of them implement an AST.

Two questions arise:
- Do we need to implement an AST, too?
- What steps do you see as necessary to enhance the plugin?
- Can you support me in implementing the necessary e

[2013-06-18 14:32] #12 closed, assigned to fhelg

[2013-06-20 13:40] #15 closed, assigned to nobody

[2013-06-20 14:36] #14 closed, assigned to nobody

[2013-06-20 14:41] #9 closed, assigned to nobody

[2013-06-21 12:46] #10 closed, assigned to nobody

[2013-06-21 12:46] #13 closed, assigned to nobody

[2013-10-15 14:11] cyrilpicat opened #27 "Add support for GHUnit"

[2013-10-15 14:13] #11 closed, assigned to cyrilpicat

[2013-10-15 14:15] #21 closed, assigned to cyrilpicat

[2013-10-21 01:41] sguillope opened #28 "Add support for workspace"
Currently the `run_sonar.sh` script calls `xctool` with the `-project` argument which will fail if the project relies on a workspace to be built. With the rise of CocoaPods most projects nowadays are using a workspace.

It would be nice to have the option of calling `xctool -workspace MyWorkspace.xcworkspace` instead.

For now I will modify the script.

Cheers!

[2013-10-21 07:29] cyrilpicat opened #29 "Support building and testing without asking the user to modify its project architecture settings in Xcode"

[2013-10-21 07:30] cyrilpicat opened #30 "Filter OCLint violations on only project files, not all workspace files"

[2013-10-21 07:31] cyrilpicat opened #31 "Filter code coverage on only project files, not all workspace files"

[2013-10-21 07:35] cyrilpicat opened #32 "Support spaces in project name or schemes"

[2013-10-21 07:36] #22 closed, assigned to nobody

[2013-10-21 07:37] #23 closed, assigned to nobody

[2013-10-21 08:56] jcsirot opened #33 "Configure OCLint thresholds in the quality profile"
Some OCLint rules can be parameterized with a threshold (e.g. [LongLine](http://docs.oclint.org/en/dev/rules/size.html#longline) or [CyclomaticComplexity](http://docs.oclint.org/en/dev/rules/size.html#cyclomaticcomplexity)). These threshold values can be configured by passing it as parameters to the oclint binary with the `-rv THRESHOLD_NAME=VALUE` flags.

For the moment these thresholds must be c

[2013-10-22 08:26] cyrilpicat opened #34 "Code coverage was sometimes computed on an external project (dependency)"
The Objects-normal directory extracted from compile_commands.json was picking the first folder, and it could be a dependency such as a Pod, instead of being the application code.

[2013-10-22 09:56] cyrilpicat opened #35 "Check script and .jar are up-to-date and aligned"
Print a warning if not up-to-date
Print an error if not aligned

[2013-10-22 09:57] cyrilpicat opened #36 "Configure OCLint thresholds in the .properties file"
This is a quick-win before being able to do that in the quality profile.

See https://github.com/octo-technology/sonar-objective-c/issues/33

[2013-10-22 10:11] cyrilpicat opened #37 "Sometime the new oclint/test/coverage report is not loaded by the plugin (no metric in the dashboard)??"
shall we clean the sonar-reports/\* files before generating them again?

[2013-10-22 11:25] #28 closed, assigned to cyrilpicat

[2013-10-22 11:25] #29 closed, assigned to cyrilpicat

[2013-10-22 11:25] #30 closed, assigned to cyrilpicat

[2013-10-22 11:25] #31 closed, assigned to cyrilpicat

[2013-10-22 11:25] #32 closed, assigned to cyrilpicat

[2013-10-22 11:25] #34 closed, assigned to cyrilpicat

[2013-10-22 18:56] cyrilpicat opened #38 "OCLint is very slow on a small project with big dependencies"
my intuition is that the dependencies are analyzed even if they are not included in the report (thanks to --include flag).

The filtering should happen before, actually it should happen on the compilation_commands.json file that is passed to oclint.

[2013-10-23 15:19] cyrilpicat opened #39 "Coverage reported is 0% with Xcode 5"
Works with Xcode 4

[2013-10-25 09:21] jcsirot opened #40 "Duplicated violations when the project is built for multiple architectures"
When the project is configured to be built for multiple architecture (armv7, armv7s, i386...) the `compile_commands.json` file contains one entry for every file and every available architecture. In this case oclint generates a report containing duplicated entries (as many as configured architectures) and these entries are shown as duplicated violation in Sonar.

Maybe the plugin could merge the re

[2013-10-30 10:12] cyrilpicat opened #42 "OCLint violations are computed on the i386 architecture and could thus hide some violations present in the target architectures (armv7s etc.)"
if there are some pre-processor directives in the code based on the architecture.

This could be fixed by generating two compile_commands.json files, one for the test/test coverage files computed on the simulator and one for the OCLint violations.

Not a major issue today.

[2013-10-30 12:11] #40 closed, assigned to nobody

[2013-11-04 10:33] cyrilpicat opened #43 "Add code churn metric"

[2013-11-18 23:56] xndou opened #44 "Code coverage not showing on Sonar dashboard"
coverage report xml was generated by xctool under sonar-reports directory but not showing on Sonar dashboard.
Xcode version is 5.0.

Verbose mode run-sonar.sh output showing the coverage report was recognized by Sonar runner and processed:
18:29:47.020 INFO  - Sensor org.sonar.plugins.objectivec.coverage.CoberturaSensor@37bce5dc...
18:29:47.030 INFO  - Processing coverage report /ffas/workspaces/F

[2013-12-16 09:16] xfreebird opened #45 "Sonar plugin exceptions"
Hi,

Thank you very much for making this plugin a reality!

There is one thing, it seems that the plugin always expects an oclint report file and code coverage report file. When one of these two is missing it throws an exception during sonar analysis, which does not fail the analysis (which is really good).

May be you could add a check, so that no exception is thrown at all.

Thanks!

[2014-01-10 16:34] AlexQuiGitHub opened #46 "Jenkins & test target"
Hello everyone,

When I create an empty project with a test target, and launch ./run-sonar.sh with Jenkins, I get the following error:

"'xctool -project myproject.xcodeproj -sdk iphonesimulator ARCHS=i386 VALID_ARCHS=i386 CURRENT_ARCH=i386 ONLY_ACTIVE_ARCH=NO -scheme myproject -reporter junit GCC_GENERATE_TEST_COVERAGE_FILES=YES GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES test' failed with error code: "

[2014-01-16 09:55] philiplb opened #47 "OCLint fails"
The execution of run-sonar.sh fails for us with this error-message:
Running OCLint...oclint: error: no rule loaded
ERROR - Command 'oclint-json-compilation-database --include ../brands4friends/.. ./brands4friends/.. -- -report-type pmd -o sonar-reports/oclint.xml' failed with error code:

Any clue?

[2014-01-16 11:00] #47 closed, assigned to nobody

[2014-01-20 13:38] xndou opened #48 "OCLint not working with sonar-objective-c plugin"
This issue is branched off from issue #44.

With default setup of the plugin, we are not getting static analysis (OCLint) result. The report xml generated was empty. we found the xctool reporter json-compilation-database does not generate comiple-commands.json which is needed for downstream processing by OCLint

We created a temporary workaround by replacing the xctool approach with xcodebuild and

[2014-01-26 07:52] drewcrawford opened #49 "Better error handling for test failures"
When I get a test failure I get the following output:

[code]

So some problems with this output:
1.  It seems that it was intended that an error code be reported in this case, but one isn't
2.  It seems like the right decision that analysis should continue anyway in the event of a test failure.

[2014-01-26 08:25] drewcrawford opened #50 "java.lang.NoSuchMethodError: org.sonar.plugins.surefire.api.SurefireUtils.getReportsDirectory"
I'm getting the behavior below once the reports are generated and during the sonar-runner analysis step:

[code]

SonarQube 4.1
ObjC plugin 0.3.1

Some other background information:

[code]

[2014-01-31 11:40] drewcrawford opened #51 "Clang analyzer issues"
sonar-objectivec plugin should be reporting clang analyzer issues (and warnings for that matter) to sonarqube.

This is easy to pull by using the `xcodebuild analyze` command.

[2014-01-31 12:19] drewcrawford opened #52 "Nothing reported, even though sonar-reports looks good"
I've got an interesting issue, where sonar-runner doesn't report unit tests, test coverage, or OCLint issues even when sonar-reports contains reasonable-looking data for all 3 and sonar-runner reports it's looking at the right report files.

Here's a [sonar-reports folder](https://www.dropbox.com/s/u39d8mcoy5d6azo/sonar-reports.zip) that contains reasonable-looking data for all 3.

Here's [debug o

[2014-02-20 14:02] drewcrawford opened #55 "gcovr UnicodeDecodeError"
I get errors of the following form:

[code]

gcov version 3.1.  The issue cannot actually be reproduced by running the command indicated--only via run-sonar.sh.

[2014-02-21 13:03] drewcrawford opened #56 ""Hang" in ObjCSourceImporter"
I've got an issue where execution stays in ObjCSourceImporter for a long period of time.  It's been measured at >3 hours.  The repository in question is large (300+ files), so some processing time is to be expected, but I am having difficulty ascertaining if the analysis will ever complete in finite time.

Here is some output:

[code]

At this point it continues to print "Updating semaphore..." at

[2014-02-21 14:34] #50 closed, assigned to cyrilpicat

[2014-04-22 16:20] rajasekaran2015 opened #57 "The rule 'OCLint:feature envy' does not exist."
Please help me to resolve this issue.
I am facing error while running the "sonar-runner" cmd.
I am using Xcode 5.1 with iOS 7., OCLint version 0.9dev.

look like we have to update the profile-oclint.xml & rules.txt with the latest rules available in oclint.
Please let me know, how to update or generate the all the rules in profile-oclint.xml?

please find the below console log.
Rajasekaran-MacBook

[2014-07-23 15:01] nthegedus opened #61 "Release 0.3.1 is not available"
Release 0.3.1 is not available, can you upload again?

[2014-07-25 11:57] #61 closed, assigned to nobody

[2014-09-01 11:18] xfreebird opened #63 "SonarQube 4.3.3"
Hi,

It seems this plugin it will not compile for SonarQube 4.3.3 due to deprecated API.

Are there any plans to support the new API ?

[2014-09-22 13:27] ThomWee opened #65 "CPD XML file import"
Hi,

I found the key for enabling CPD Cross Project duplicates detection. But there is no outcome!? The plugin runs ~8000ms and then nothing is reported. If I use the CPD plugin by my own with the token size 100 I get a lot of CPD detections. How can I debug and adjust this option for sonar?!

Regards,
Thomas

[2014-09-27 19:19] helabenkhalfallah opened #66 "Cobertura coverage xml report contains data but nothing is displayed on sonar dashboard."
This is my current configuration:
- sonar-objective-c 0.3.2-SNAPSHOT
- SonarQube 4.4
- SonarQube Runner 2.4
  Unit test are successfully reported. But cobertura code coverage report is not displayed on sonar dashboard even cobertura coverage report is not empty. (The cobertura xml generated report is successfully parsed by jenkins).

It seems that the plugin is not compatible with SonarQube 4.4.

[2015-01-05 07:38] rompic commented on #63
@cyrilpicat any news?

[2015-01-06 17:09] zippy1978 commented on #63
Hi,

I saw that @xfreebird started the upgrade work and I decided to finish it.
I just issued a pull request on his fork, here: https://github.com/xfreebird/sonar-objective-c/pull/2

[2015-01-06 17:41] cyrilpicat commented on #63
cool, that's great news Gilles!

If you want you can directly issue a pull request here.

cheers,

[2015-01-06 18:20] rompic commented on #63
@xfreebird thanks a lot. this is great news!

[2015-01-06 18:21] rompic commented on #63
5.0 is coming soon (Jan 2015). Do we have an overview of what has to be done to be ready for this update as well?

[2015-01-06 18:22] xfreebird commented on #63
@zippy1978 you are a hero ! :)

[2015-01-06 19:19] rompic commented on #63
concerning 5.0 only found: http://sonarqube.15.x6.nabble.com/sonar-dev-SonarQube-5-0-plugins-compatibility-td5028438.html

[2015-01-06 20:28] zippy1978 commented on #63
@cyrilpicat: pull request done (https://github.com/octo-technology/sonar-objective-c/pull/69) !

[2015-01-08 19:45] rompic opened #70 "running analysis with jenkins"
Any ideas about how to harness the sonar runner of jenkins sonar plugin to run the analysis? I'm thinking about putting the sonar.properties in the jenkins job.

[2015-01-09 09:31] rompic opened #71 "oclint report created, files index in sonar, but vialotions don't show up?"
Hi i'm trying to set this up:

oc lint report:
<file name="/export/home/jenkins/workspace/project/ab/config/Config.m"><violation begincolumn="42" endcolumn="72" beginline="129" endline="129" priority="5" rule="unused method parameter">
The parameter '...' is unused.
</violation></file>

Sonar-Runner Log
10:14:35.873 DEBUG - Language of file 'config/Config.m' is detected to be 'objc'
10:14:36.288 I

[2015-01-09 20:19] #71 closed

[2015-01-11 12:15] jamesreeve opened #72 "No coverage or violations report data for v0.3 or v0.4"
Hello,

I have been trying to get both v0.3 and 0.4 of your plugin working with Sonar but to no avail at all.
I get the info on how many classes and it picks up changes when i put in code changes. But it claims there are no violations in the code but i even tried to put some in manually in the code to cause violations but they never get picked up.

I have tried running against different git projec

[2015-01-11 13:50] zippy1978 commented on #72
Hi,

What analysis profile do you use ? And does it contain rules ?

The plugin install the OCLint profile, Make sure that it is the one used by your projects.

[2015-01-11 22:50] jamesreeve commented on #72
Hi i am using OCLint and yes it contains rules see screenshots here:

![screen shot 2015-01-12 at 9 41 41 am](https://cloud.githubusercontent.com/assets/4434258/5697287/4ead72f8-9a40-11e4-82d1-ee84850e9eeb.png)

![screen shot 2015-01-12 at 9 43 43 am](https://cloud.githubusercontent.com/assets/4434258/5697291/5eede260-9a40-11e4-9b57-37720c7b42f1.png)

![screen shot 2015-01-12 at 9 49 06 am](https:

[2015-01-12 06:20] zippy1978 commented on #72
Ok,

Could you show me your OCLint output file (in sonar-reports dir of your project) ?

[2015-01-12 07:47] cyrilpicat commented on #72
I would complemtent the analysis with:
- the content of you coverage file in sonar-reports (coverage-*.xml)
- your sonar-project.properties file
- your compile_commands.json file

You can make a Gist with all those files.

That being said, your issue looks similar to #52. There was a mean to fix it suggested by Drew, but it was using a deprecated API (index). If we could get your help and design a

[2015-01-12 09:51] rompic commented on #70
As a first step I have copied an adapted version of the run-sonar.sh file on the jenkins server and run it from there.

[2015-01-12 10:03] rompic commented on #72
what may also help and helped us during analysis of a similar issue: add the -X Flag to running sonar runner (maybe this could be combined with the -v flag)

[2015-01-12 21:34] cyrilpicat commented on #70
I have not done it yet but personally I would proceed by adding a Shell step in a daily/weekly build (not more). And this Shell step will basically run the same command line as I do when I run it manually : run-sonar.sh (at the root of the project).

I would not copy run-sonar.sh or sonar-project.properties, or modify it for this purpose. But this assumes you put those files at the root of your pr

[2015-01-13 08:11] rompic commented on #70
As the run-sonar.sh file does not contain any project specific logic, I think that it makes sense to manage it in a centralized way. What's more, I thought about a way to manage the sonar properties in:
![sonar_standalone](https://cloud.githubusercontent.com/assets/6322123/5717608/fa1c9cae-9b03-11e4-866c-88a0813021ca.png)
But as the script reads the paths etc. from the properties file, this may no

[2015-01-13 08:17] rompic opened #73 "include sonar exclusions in properties file and run sonar script"
this may depend on your project's file structure, but we had to exclude source files from the sonar analysis. Therefore we used the sonar.exclusions property and harnessed it for the oclint analysis as well:

# exclude dirs
excludeDirs=''; readParameter excludeDirs 'sonar.exclusions'
#...

excludedCommandLineFlags=""
	echo "$excludeDirs" | sed -n 1'p' | tr ',' '\n' > tmpFileRunSonarSh
	for word in

[2015-01-13 08:22] rompic opened #74 "Add -X Flag to sonar-runner in case -v flag is set for the run-sonar script"
It may make sense to set the -X / --debug (Produce execution debug output) flag of the sonar runner, in case the -v flag is set.
See http://docs.sonarqube.org/display/SONAR/Installing+and+Configuring+SonarQube+Runner;jsessionid=47CDFB05DF9794712E2D747D4817A516
for more details.

[2015-01-13 11:02] jamesreeve commented on #72
Hi all, thanks for your fast responses. Lets try and fix this issue together :)

Glist with the files you were asking for: https://gist.github.com/1c950bade93dafe8f67b.git

rompic - I was unable to run sonar runner with a -X Flag, can you explain how i can do this? It did not recognise -X

[2015-01-13 14:58] cyrilpicat commented on #72
regarding the test coverage being 0%, it's normal as you did not provide a test target. See the output log 'Skipping tests as no test scheme has been provided!'.

This has to be defined via the parameter 'sonar.objectivec.testScheme' in sonar-project.properties:

<code>
\# Scheme to build and run your tests (comment following line of you don't have any tests)
sonar.objectivec.testScheme=myApplicat

[2015-01-13 15:10] cyrilpicat commented on #70
ok, I think I understand your question.

You are right that given current plugin architecture, you cannot use Sonar Jenkins plugin directly (cf your screenshot). And this won't change on a short term because this plugin is what we can call a "tactical plugin" (lots is done via external tools).

But I can understand your needs to put run-sonar.sh on a central place to avoid any copy/paste across pr

[2015-01-13 17:15] rompic commented on #70
i managed to change the script a little (actually I just switch into the directory and changed the include a little).

[2015-01-13 17:15] #70 closed

[2015-01-13 17:24] cyrilpicat commented on #70
if you can, it would be great if you can make a pull request with your change, I am sure it can benefit other users.

Thanks!

[2015-01-13 17:26] cyrilpicat commented on #73
This seems reasonable and useful, indeed.

thanks for your proposition.

[2015-01-13 17:49] rompic commented on #70
we literally just changed the include path, i don't think there is anything of value here...

[2015-01-13 22:14] jamesreeve commented on #72
Hi, yes i have turned off the test coverage. At this stage I am only interested in the code violations.

git clone my repo and then you will have access to the files.

[2015-01-14 11:23] csibug commented on #72
i think we are facing the same problem. can we somehow help to solve this issue?
the oclint.xml generated by the run-sonar.sh is almost empty:
<?xml version="1.0" encoding="UTF-8"?>
<pmd version="oclint-0.8.1"></pmd>

from the log this fragment seems relevant:

12:04:33.324 INFO  - Sensor org.sonar.plugins.objectivec.violations.OCLintSensor@b89b904...
12:04:33.324 INFO  - Processing OCLint report

[2015-01-15 16:19] aheritier commented on #63
sadly the 5.0 upgrade fails : https://gist.github.com/aheritier/6f0d9c4cd6aa7dcc4be0

[2015-01-15 21:46] cyrilpicat commented on #72
OK, I get it, sorry for this regression introduced by the fix #64. The problem was on the OCLint command line generated by the run-sonar.sh script, not on the plugin part. It should work with an old run-sonar.sh, with both 0.3 and 0.4 plugin versions.

I committed a new run-sonar.sh, so if you update yours it should work again. Can you verify it?

Beware that when you update the plugin you should

[2015-01-15 22:28] cyrilpicat commented on #63
thanks for the report. Can you open a new issue for this, please?

I had a look and it seems to be due to a deprecated API: http://jira.codehaus.org/browse/SONARPLUGINS-3810

Should be quite easy to fix.

[2015-01-15 23:44] aheritier commented on #63
thx @cyrilpicat. Yes I will open a dedicated issue

[2015-01-16 01:34] aheritier opened #75 "SonarQube 5.0 incompatibility"
Hi,

  I upgraded my instance to sonarqube 5.0 and the plugin fails with this error : https://gist.github.com/aheritier/6f0d9c4cd6aa7dcc4be0

[2015-01-16 04:48] jamesreeve commented on #72
Fantastic! it is all working for me now. Great work!
I do however have issues with how run-sonar.sh is written when my sonar.sources contains spaces in the folder name.

I have just run the oclint rules and noticed that currently the library only has 2 rules in the major/blocker/critical rule list.

Do i have the latest copy of your rules? There these 2 rules the only ones you currently have for c

[2015-01-19 09:40] zippy1978 commented on #75
Hi,
I fixed the Sonar 5.0 support.

Here is the PR : https://github.com/octo-technology/sonar-objective-c/pull/76

[2015-01-19 09:57] aheritier commented on #75
Cool, thanks. I will test it ASAP

[2015-01-19 22:09] aheritier commented on #75
https://ci.exoplatform.org/job/mobile-ios-develop-sonar/105/console
https://sonar.exoplatform.org/dashboard/index/231502
Yeah. It works. Thx a lot

[2015-01-20 08:09] cyrilpicat commented on #75
cool, thanks!

[2015-01-29 22:21] cyrilpicat commented on #72
For the space issue, create a new issue and we will make sure to fix it

[2015-01-29 22:21] #72 closed

[2015-01-29 22:21] #63 closed

[2015-01-29 22:23] cyrilpicat commented on #57
Fixed in 0.4.0, rules have been updated to the latest oclint version.

[2015-01-29 22:23] #57 closed

[2015-01-29 22:23] #75 closed

[2015-01-29 22:27] cyrilpicat commented on #66
Version 0.3.x of the plugin was not compatible with SonarQube > 4.3 indeed. Does the 0.4.0 version fix your issue?

[2015-02-14 16:31] anelrh26 opened #77 "Clean build failed"
When I run sh ./run-sonar.sh -v in my root project, I get this

Scheme Tests is not currently configured for the clean action.

*\* CLEAN FAILED *\* (3984 ms)

This is a project that didn't have tests, so I added a scheme for tests in Xcode, but I have the same results

If I run the following command I get more info about the error

xctool -workspace ProjectName.xcworkspace -sdk iphonesimulator AR

[2015-02-16 09:45] cyrilpicat commented on #77
there seems to be an issue with your test scheme again.

Instead of fixing it, have you tried disabling tests in the properties file?

<pre>
# Comment following line of you don't have any tests
sonar.objectivec.testScheme=MyProjectTests
</pre>

[2015-02-16 15:41] anelrh26 commented on #77
Yes I have disabled the tests in the properties files like you're suggesting. And I have the same result.

[2015-02-27 14:40] Kowaio opened #80 "Analysis: 0% everywhere"
Hi guys,

Sorry to bother you with this issue but I didn't find anything in here or by googling it.

I've installed SonarQube, sonar-runner and this plugin (0.4) and tried to analyse the project I'm working on.

Here's the result : http://cl.ly/image/1I281B1M3C1A

As you can see, the files and directories are correctly found but there are no issues encountered, as well as duplications and so on. A

[2015-03-03 23:00] wooster commented on #80
You need a `testScheme` setting in the `sonar-project.properties` file, like so:

[code]

[2015-03-10 14:15] henri-tremblay opened #81 "Be able to customize the checks"
Usually, a Sonar plugin allows to configure the checks in the quality profile. This plugin doesn't.

I would like to be able to specify things like the line length and variable length.

[2015-03-11 07:59] cyrilpicat commented on #81
that's right. In other plugins, this is done through Quality Profiles/Rules via rules parameters. For example look at the Java plugin and the rule 'Methods should not have too many parameters'.

But OCLint rules in this Objective-C plugin don't have any parameters. This is due to the architecture of the Objective-C plugin, because OCLint is launched outside of the plugin via a Shell script. Notice

[2015-03-20 13:19] kapilvats opened #82 "run-sonar.sh failed with error code: 1"
We tried running the run-sonar.sh, it has failed with error code: 1. Any idea how to resolve?

[2015-03-20 22:38] Yao0729 commented on #71
I have the same problem.
Sonar: 5.0.1
Objective C plugin 0.4.0.

Does the Objective C fixing support Sonar 5.0.1?

[2015-03-20 23:53] rompic commented on #80
see https://github.com/octo-technology/sonar-objective-c/issues/71
check your quality profile!

[2015-03-21 00:07] Yao0729 commented on #71
It doesn't help....Here is my sonar-project.properties.

sonar.projectKey=Project
sonar.projectName=Project
sonar.projectVersion=1.0
sonar.language=objc

sonar.projectDescription=Description

sonar.sources=MyProject
sonar.tests=MyProjectTests

sonar.objectivec.project= MyProject.xcodeproj

sonar.objectivec.appScheme=MyProject
sonar.objectivec.testScheme=MyProjectUnitTests

sonar.sourceEncoding=UTF

[2015-03-21 10:40] rompic commented on #71
can you post a screenshot of your sonar quality Profiles page?

you could also try to start the sonar runner with the -X / --debug flag in the run-sonar.sh file to get additional information (and post this blabla in anonymized form):

`# SonarQube`
`echo -n 'Running SonarQube using SonarQube Runner'`
`runCommand /dev/stdout sonar-runner -X`

https://github.com/octo-technology/sonar-objective-c/iss

[2015-03-23 04:03] Yao0729 commented on #71
Sure. Thanks for your help.

Here is the screenshot of my profile page.
![screen shot 2015-03-22 at 9 00 58 pm](https://cloud.githubusercontent.com/assets/10376484/6774020/b0fb1a7e-d0d6-11e4-9c3e-f0c34e859756.png)

Here is the log
14:54:13.178 INFO  - Sensor org.sonar.plugins.objectivec.violations.OCLintSensor@529f5fdd...
14:54:13.178 INFO  - Processing OCLint report /PATH/TO/sonar-reports/oclint.

[2015-03-23 06:18] rompic commented on #71
This is not what i meant: Please click on quality profiles in the top menu and make a screenshot of the objective c section
![qprofile](https://cloud.githubusercontent.com/assets/6322123/6775112/917c5d24-d12c-11e4-8d8e-c2d80892a453.png)

[2015-03-23 07:05] Yao0729 commented on #71
You mean this one?
![screen shot 2015-03-23 at 12 03 44 am](https://cloud.githubusercontent.com/assets/10376484/6775572/37748112-d0f0-11e4-82db-70c13ca13eeb.png)

[2015-03-23 19:31] zippy1978 commented on #71
Hi,
I got it.

You must use 'OCLint' profile as default .

The other one 'Sonar Way' is a remain of the commercial plugin installation (you can remove it)

[2015-03-23 20:07] Yao0729 commented on #71
Yes. How can I set OCLint as default and remove Sonar Way?

Thanks so much!

[2015-03-23 20:10] rompic commented on #71
Log in as administrator, click on "set as default" next to OCLint. click on delete next to Sonar Way

[2015-03-23 20:30] Yao0729 commented on #71
Thanks very much. It works now!

[2015-03-31 12:12] optimusbits opened #83 "java.lang.NullPointerException during execute sonar-runner"
We have installed SonarQube on centos x64. On the other machine is installed sonar client to run with  iOS application projects.

Each time, we run ./sonar-runner -X we got exception:

[code]

before that is a lot of lines ofØ

[code]

and

[code]

Running sonar-runner generate sonar-reports folder with files coverage-MyProject.xml, oclint.xml, TEST-report.xml

This happens on:

Server:

SonarQube

[2015-04-02 18:38] runv commented on #66
By me unit test coverage is shown, but unit test success is not.
SonarQube 4.4,
sonar-objective-c plugin 0.4.0

Reports are in sonar-report folder. Coverage and Test reports are not empty.
![screen shot 2015-04-02 at 20 38 10](https://cloud.githubusercontent.com/assets/2070066/6970794/273960b6-d978-11e4-8116-50c56d9ce963.png)

[2015-04-07 20:46] rohitjindal1184 opened #84 "OClint error"
Hi,
I am getting this error.

Running OCLint......dlopen(/usr/local/bin/oclint-0.9/bin/../lib/oclint/rules/libUnusedLocalVariableRule.dylib, 1): no suitable image found.  Did find:
    /usr/local/bin/oclint-0.9/bin/../lib/oclint/rules/libUnusedLocalVariableRule.dylib: open() failed with errno=13

oclint: error: cannot open dynamic library: /usr/local/bin/oclint-0.9/bin/../lib/oclint/rules/libUnuse

[2015-04-28 09:47] devangpandya20 opened #85 "No violations showing up"
I checked #71 #72 and #52  but am still facing the same issue. No violations are showing up in the dashboard. Below is my setup details and attaching a screenshot of the dashboard. I double checked and have the default quality profile set to OCLint.
OS - 10.9.4
Xcode - 6.2
Sonar - 5.1
Sonar-runner - 2.4
sonar-objective-c - 0.4.0
![screen shot 2015-04-28 at 10 34 47 am](https://cloud.githubusercont

[2015-05-10 12:20] gmdfalk commented on #85
I have the same issue on OS 10.10, XCode 6.3. Analysis finishes fine, an oclint.xml is created which looks good, with lots of issues, but according to the webUI the amount of issues is 0 i.e. the report is not read/shown.

To be fair, oclint threw this during ./run-sonar.sh:

[code]

If i raise the threshold oclint stops completely:

[code]

[2015-05-10 18:34] vinsp opened #86 "Sonar can't find the objective-c plugin"
I downloaded and built the plugin, and copied the jar to the extensions\plugins folder of Sonar, then tried to start an analysis of an ObjectiveC project, using the sonar-properties you show as example, but I get the following error.

23:39:40.328 INFO  - Load project referentials...
23:39:40.628 INFO  - Load project referentials done: 300 ms
23:39:40.628 INFO  - Load project settings
23:39:40.882

[2015-05-11 04:04] AllenLii opened #87 "xctool failed with error code:1"
OS X Yosemite
Xcode 6.1
xctool 0.2.3
SonarQube 4.5.4
Plugin 0.4.0

run-sonar.sh -v:
...

*\* CLEAN SUCCEEDED *\* (1880 ms)
- returnValue=0
- set +x
- xctool -project NotifyMe.xcodeproj -sdk iphonesimulator ARCHS=i386 VALID_ARCHS=i386 CURRENT_ARCH=i386 ONLY_ACTIVE_ARCH=NO -scheme NotifyMe -reporter json-compilation-database:compile_commands.json build
- returnValue=1
- set +x
  ERROR - Command 'xct

[2015-05-19 12:09] Skav commented on #82
Same thing here :+1:

** CLEAN SUCCEEDED ** (3295 ms)

+ returnValue=0
+ set +x

+ xctool -project MSSante.xcodeproj -sdk iphonesimulator ARCHS=i386 VALID_ARCHS=i386 CURRENT_ARCH=i386 ONLY_ACTIVE_ARCH=NO -scheme MSSante -reporter json-compilation-database:compile_commands.json build
+ returnValue=1
+ set +x
ERROR - Command 'xctool -project MSSante.xcodeproj -sdk iphonesimulator ARCHS=i386 VALID_AR

[2015-05-20 08:37] jfisbein opened #88 "Conflict with Sonarsource C/C++/Objective C plugin"
Sonarsource has a commercial C/C++/Objective C plugin, if you install the Sornarsource plugin it takes precedence even if you only have the license for the C/C++ functionalities (not for Objective C).

It looks like the problem is because both plugins (Octo & SonarSource) share the same key `"objc"` and conflicts.

Does it make sense to change the key to something like `"octo-objc"` ?

[2015-05-20 09:17] cyrilpicat commented on #88
ok, thanks for the report.

I have to check the impacts on the history, but it makes sense to change to something else, right?

<code>"objective-c"</code> might be a better idea, isn't it?

[2015-05-20 10:15] jfisbein commented on #88
Yes, anything but `"objc"` should be ok. :-)

[2015-05-20 21:26] agigleux commented on #88
To complete the demand of @jfisbein in order to use both plugins in the same SQ instance and choose which plugin to activate we can force the sonar.language property but both plugins are using the same language's key = objc so indeed would be great to change "objc" in src/main/java/org/sonar/plugins/objectivec/core/ObjectiveC.java to something else.

[2015-06-10 08:05] SivaTrichy commented on #85
Hi @devangpandya20 ,
I work with the same configurations, facing the same problem.
Have you resolved it? Able to report violations?
Got stuck on this. Kindly help.

[2015-06-10 11:18] SivaTrichy commented on #71
Hi @cyrilpicat
I am using
SonarQube 5.1.1
SonarRunner 2.4
Sonar Objective C plugin 0.4.0
I am getting the error Reporting 0 violations. I have set the OCLint profile as default. Kindly help.

Log:
INFO: SonarQube Server 5.1
16:35:24.797 INFO  - Load global repositories
16:35:24.985 INFO  - Load global repositories (done) | time=190ms
16:35:24.987 INFO  - Server id: 20150610120629
16:35:24.989 INFO

[2015-06-12 05:37] KPTysonBE commented on #85
Having the same Issue here.

[2015-06-15 20:38] bkottcamp commented on #85
I have the same problem on:
- Mac OS X 10.10.3 x86_64
- Xcode 6.3.2
- SonarQube Server 4.5.4
- SonarQube Runner 2.4
- sonar-objective-c - 0.4.0

oclint.xml has plenty of violations, from the log file:

[code]

[2015-06-16 18:33] zippy1978 commented on #85
Hi,

Did you have a look at your quality profiles ?
Do you have a provile named OCLint in the Objective C section ?
If so, how many rules do you have in this profile (should be 63) ?

[2015-06-17 22:25] bkottcamp commented on #85
Hi @zippy1978,

Yes I have the OCLint profile with 63 rules:
![screen shot 2015-06-16 at 1 21 32 pm](https://cloud.githubusercontent.com/assets/1441019/8192404/172ed4b0-142b-11e5-886b-a51c3d356ed8.png)

I've tried using the project quality profile for objective-c of Default as well as OCLint.

[2015-06-19 09:37] viteinfinite commented on #85
I know it won't work for everybody, but I had the same issue and setting the OCLint profile as default **fixed the problem** for me.

![screen shot 2015-06-19 at 11 35 27](https://cloud.githubusercontent.com/assets/526374/8250803/517629cc-1677-11e5-93b7-2eef23867869.png)

[2015-07-09 10:22] sarang1991 opened #91 "oclint.xml not found.!"
I am using objective-c plugin from github in sonar.In my project directory sonar-report/oclint is not created, when i executing sonar-runner. So that in sonar no violations listed. But when i manually executing commands like
xcodebuild clean build > xcodebuild.log

oclint-xcodebuild

oclint-json-compilation-database -- -report-type pmd -o oclint.xml

i got oclint.xml. then i created a sonar-report

[2015-07-28 07:47] jaernouts opened #92 "Code duplication / Unit test number not correct"
Hello,

I almost set up the project correctly, nevertheless some things are not working. My unit test coverage, my issues are shown correctly and also my number of lines / comments are correct.

Code duplication is not working and I can't find what I'm doing wrong.. Do I have to enable something somewhere? Also, I have a folder 'tests/classes' with subfolders model, viewmodel, etc. If i set 'sonar

[2015-09-02 10:02] cyupa commented on #87
If you are using Cocoapods, please run a `pod install` first and then `run-sonar.sh`

[2015-09-02 14:54] cyupa commented on #85
@mikar,@bkottcamp Have you found the solution around the 245 error code?

[2015-09-03 05:44] jaernouts commented on #92
No one...?

[2015-09-03 07:13] cyrilpicat commented on #92
I need to check but if I remember right it's sonar.objectivec.testScheme that is used to run the tests and get the unit test report and coverage report.

sonar.tests is a default SonarQube parameter, I have to check what it exactly does in case of this plugin. What happens if you don't set it?

[2015-09-03 07:34] jaernouts commented on #92
I indeed set 'sonar.objectivec.testScheme' to my test scheme, so that's correct for sure. The tests are running, so that's not the problem. I also see the coverage report as you see in the image attached, the problem is that I don't see how many Unit Tests I have, how many are succeeded and/or how many are failed...

My folder structure is like this:
<main_folder>:
--app
--tests
----model
------te

[2015-09-03 08:21] cyrilpicat commented on #92
can you check what is the content of TEST-report.xml in the folder 'sonar-reports' at the root of your project? Does it contain all test cases, or only the one from the folders sonar.tests?

I have checked my personal projects, and I am not setting sonar.tests. Could try that?

Otherwise have you tried to put a wildcard in sonar.tests? Like /tests/*\* (I have not tried it, sorry)?

[2015-09-03 08:37] jaernouts commented on #92
- The TEST-report.xml contains all my tests and the total test amount is correct
- When I remove sonar.tests, I have the same issue (And in the sonar-project.properties you provide as example, there's also stated that removing will just ignore them "# Path to test directories (comment if no test)")
- I can't use a wildcard, when I do, Sonar cannot be executed: "The folder 'UnitTests/**' does not e

[2015-09-17 05:59] rompic opened #93 "Support for swift"
How hard would It be to Support https://github.com/realm/SwiftLint

[2015-09-30 05:35] quantumarun opened #94 "OClint error code 245"
Hi,
I am getting error while running the analysis on one of our project using ./run-sonar.sh. The analysis is crashing at OCLint and exiting with error code 245. I had checked on OCLint and there seems to be no such error code for failure.
Does OCLint have limit to the number of issues after which it stops the execution.
Also this does not create any reports in Sonar Qube. For few of the projects

[2015-10-01 18:53] Gimungagap opened #95 "run-sonar.sh always returns zero exit code by default"
Hi there. I had an issue with failing builds on CI when quality gate is violated. I found the reason in using **run-sonar.sh** script which returns other value then the **sonar-runner** itself. I looked through the script and found the problem: if **-v** option is specified then script returns the result of command:

[code]

But otherwise it returns the result of the previous operation (**$?**) in

[2015-10-02 08:03] cyrilpicat commented on #95
no I see no point, I think it's an error

[2015-10-05 12:59] rompic commented on #93
they now support custom reporters. maybe we could harness those?
https://github.com/realm/SwiftLint/issues/42

[2015-10-06 12:16] quantumarun commented on #94
Has anyone encountered such issue?

[2015-10-09 00:35] smacgregor commented on #94
Hi quantumarun - I've been seeing this too but have no leads yet on why oclint-json-compilation-database returns a 245.

[2015-10-12 08:33] hrskrs commented on #91
having same issue here

[2015-10-13 04:31] sarang1991 commented on #91
hi,What error you are getting ?i resolved my issues.

[2015-10-13 04:40] sarang1991 commented on #85
i wrote another java file along with the plugin..and it created oclint.xml with the help of xcode, and plugin is  working fine for me.

[2015-10-13 06:40] hrskrs commented on #91
Hi, i am getting same error:
`Error processing file named /Users/Shared/Jenkins/Home/jobs/Sample App/workspace/sonar-reports/oclint.xml
java.io.FileNotFoundException: /Users/Shared/Jenkins/Home/jobs/Sample App/workspace/sonar-reports/oclint.xml (No such file or directory)`

link:http://stackoverflow.com/questions/33040509/error-processing-oclint-xml-on-jenkins

[2015-10-13 06:52] sarang1991 commented on #91
Do onething.
go to project directory where .xcodeproj exist.and then execute following commands.

=>   xcodebuild clean build CODE_SIGN_IDENTITY=" " CODE_SIGNING_REQUIRED=NO > xcodebuild.log

=>   oclint-xcodebuild -output compile_commands.json xcodebuild.log

=>  oclint-json-compilation-database  -- -max-priority-1 99999 -max-priority-2 99999 -max-priority-3 99999 -report-type pmd -o oclint.xml

[2015-10-13 07:04] hrskrs commented on #91
after executing:
=> xcodebuild clean build CODE_SIGN_IDENTITY=" " CODE_SIGNING_REQUIRED=NO > xcodebuild.log
It shows these errors:
`The following build commands failed:
    Ld build/SampleApp.build/Release-iphoneos/SampleApp.build/Objects-normal/arm64/SampleApp normal arm64
    Ld build/SampleApp.build/Release-iphoneos/SampleApp.build/Objects-normal/armv7/SampleApp normal armv7`

I will do a clean

[2015-10-13 07:29] sarang1991 commented on #91
did you get xcodebuild.log file ??

[2015-10-13 07:31] hrskrs commented on #91
yeap i do get it. I tried proceeding further by executing second line and it generated compile_commands.json. However after i executed the third one it started to generate something(ex: 23 errors generated, 2 errors generated...) but it didn't generate oclint.xml report file

[2015-10-13 08:52] sarang1991 commented on #91
try this
oclint-json-compilation-database -- -report-type pmd -o oclint.xml

[2015-10-13 08:56] hrskrs commented on #91
nope it won't generate oclint.xml file

[2015-10-13 08:59] sarang1991 commented on #91
you got xcodebuild.log and compile_commands.json files ,huh ?
try this plugin...

https://github.com/sarang1991/Sonar-Objective-C-plugin.git

[2015-10-13 09:09] hrskrs commented on #91
yeah i got them but not oclint.xml

[2015-10-13 09:11] sarang1991 commented on #91
did you have OClint installed in your pc ??

[2015-10-13 09:16] hrskrs commented on #91
yeah ofc Oclint 0.8.1. fyi: Installed it with brew

[2015-10-13 09:18] sarang1991 commented on #91
installed using these commands ??

 1) brew install caskroom/cask/brew-cask
 2) brew cask install oclint

[2015-10-13 09:21] hrskrs commented on #91
nope, i installed through gist link provided:
brew install 'gist oclint formula link'

[2015-10-13 09:23] sarang1991 commented on #91
i hope it is an error of your current oclint.can you try to install using abouve commands ?

[2015-10-13 09:27] hrskrs commented on #91
Installed and tried but it still won't generate clint.xml. Can it be related with cocoa framework? Project i am trying to analyse is using Cocoa Framework?

[2015-10-13 09:30] sarang1991 commented on #91
can you share the compile_commands.json file ?

[2015-10-13 09:54] hrskrs commented on #91
I Created as txt file but Github cannot process it so i posted here

ci:workspace PC$ oclint-json-compilation-database -- -max-priority-1 99999 -max-priority-2 99999 -max-priority-3 99999 -report-type pmd -o oclint.xml
1 error generated.
2 errors generated.
2 errors generated.
2 errors generated.
4 errors generated.
2 errors generated.
11 errors generated.
2 errors generated.
2 errors generated.
4

[2015-10-13 09:58] sarang1991 commented on #91
can you please mail me that file to nishansarang@gmail.com ?

[2015-10-13 10:04] sarang1991 commented on #94
Hi, include FileSearch.java, ObjectiveCStartup.java inside

/src/main/java/org/sonar/plugins/objectivec/

https://github.com/sarang1991/Sonar-Objective-C-plugin/blob/master/src/main/java/org/sonar/plugins/objectivec/FileSearch.java

https://github.com/sarang1991/Sonar-Objective-C-plugin/blob/master/src/main/java/org/sonar/plugins/objectivec/ObjectiveCStartup.java

[2015-10-13 10:07] hrskrs commented on #91
here it is i am posting it here:
Last login: Tue Oct 13 11:02:06 on ttys000
ci:~ PC$ cd /Users/Shared/Jenkins/Home/jobs/SAMPLEAPP IOS/workspace
-bash: cd: /Users/Shared/Jenkins/Home/jobs/SAMPLEAPP: No such file or directory
ci:~ PC$ cd /Users/Shared/Jenkins/Home/jobs/SAMPLEAPP/ IOS/workspace
-bash: cd: /Users/Shared/Jenkins/Home/jobs/SAMPLEAPP/: No such file or directory
ci:~ PC$ ls
Desktop			Libr

[2015-10-13 10:10] hrskrs commented on #91
Oclint.xml has been created after some tries. Ill try to analyze and update you with info

[2015-10-13 10:12] quantumarun commented on #94
Hi Sarang,
Thanks for your comment. It seems ObjectiveCStartup.java is missing.

[2015-10-13 10:15] sarang1991 commented on #94
Updated..sorry ;)

[2015-10-13 10:18] quantumarun commented on #94
Thanks let me try with these steps.

[2015-10-13 10:19] sarang1991 commented on #91
https://groups.google.com/forum/#!topic/oclint-users/5O-M868dq34

[2015-10-13 10:22] hrskrs commented on #91
It is Reporting 0 violations now. Oclint.xml file is not being populated probably somehow. No violations are shown in Sonar.
Probably same issue as here: https://github.com/octo-technology/sonar-objective-c/issues/85

[2015-10-13 10:24] quantumarun commented on #94
Sarang,
There is no objecive-c folder under sonarqube plugin's

here is my Sonarqube directory structure:
![image](https://cloud.githubusercontent.com/assets/5046311/10452439/a45e9a42-71c2-11e5-9db0-30403569b14b.png)

[2015-10-13 10:27] sarang1991 commented on #94
no brother..it is visible in git repo, after cloning

https://github.com/octo-technology/sonar-objective-c.git

[2015-10-13 10:31] quantumarun commented on #94
I am not using git, i have directly downloaded the jar file from http://bit.ly/18A7OkE. How to use above files then.

[2015-10-13 10:42] sarang1991 commented on #94
create a new account first..then try...no other solution to get i think.

[2015-10-13 12:20] quantumarun commented on #94
I don't see the the files at below Git repo:
https://github.com/octo-technology/sonar-objective-c.git

Also at below repo:
https://github.com/sarang1991/Sonar-Objective-C-plugin
How will i get the jar file generated.

[2015-10-13 13:41] hrskrs commented on #85
same issue here:
ERROR - Reporting 0 violations. is logged on jenkins

[2015-10-14 03:46] sarang1991 commented on #85
Instead of using this plugin, if you know how to parse the errors and give to to jenkins for listing..then easiest method is,write a java program to generate a oclint.xml..and using that file parse the erors and give those to jenkins.

[2015-10-14 03:49] sarang1991 commented on #94
https://github.com/octo-technology/sonar-objective-c.git goto this link...clone the project.open in any java IDE,copy above files to the directory specified..and mavan install.you wil get a jar file on Target folder inside project dir.copy and paste jar file to sonar plugin directory.

[2015-10-27 15:03] bkottcamp commented on #85
I am now able to get violations to show up.

Since  OCLint violations weren't showing up, I switch to https://github.com/Backelite/sonar-objective-c in order to store FauxPas findings.  Then I noticed that OCLint was finding violations, but they weren't being stored in the oclint.xml file.  When I ran command line oclint report type text and html produced output but pmd and json did not.

I switch

[2015-10-27 18:51] zfattuhi opened #96 "Code duplication is not being analyzed for Objective-C"
Hi,

I am trying to setup sonar-objective-c, and I am unable to get the code duplication work. Env details:

OS - 10.10.5
Xcode - 6.4
SonarQube - 5.1.2
Sonar-runner - 2.4
sonar-objective-c - 0.4.0
Oclint version: 0.8.1

I ran the following:
1. run-sonar.sh
2. sonar-runner

I was testing the following code duplication (both methods in the same class):

-(void)copy{
    int a = 20;
    int b = 30;

[2015-10-28 10:52] cyrilpicat commented on #96
Hello,

thanks for your report.

There are some minimum values for a duplicate to be identified as such in SonarQube, I think your code simply doesn't reach it.

See http://docs.sonarqube.org/display/HOME/Duplications for more explanations and parametrization.

[2015-10-28 10:52] #96 closed, assigned to nobody

[2015-10-28 11:07] zfattuhi commented on #96
You are absolutely right Cyril! Got it working now :)

Many thanks for the help

[2015-10-29 06:22] sarang1991 commented on #85
Which command u executed for getting oclint report.
oclint-json-compilation-database -- -report-type pmd -o oclint.xml
this will give pmd  .xml report

[2015-11-01 19:19] rompic commented on #93
https://github.com/realm/SwiftLint/issues/175

[2015-11-02 08:38] cyrilpicat commented on #93
thanks for the info, keep us tuned.

Cyril

[2015-11-04 01:07] mjdetullio commented on #88
I was worried changing this would have really adverse effects on project data, but it seems the only thing you really lose is your quality profiles so that's not too bad.

[2015-11-04 06:57] quantumarun commented on #94
Hi,
I was able to  generate the Jar from above instructions and it worked of one of my project but still for other project it throws the same error.
Any help in fixing this

....
Skipping tests as no test scheme has been provided!
Running OCLint...
Path included in oclint analysis is: --include .*/abc/Test
- oclint-json-compilation-database --include ../abc/Test -- -max-priority-1 100000 -max-prio

[2015-11-05 04:00] mjdetullio commented on #92
Any JUnit reporter for Xcode projects I've tried using does not record a fully qualified class name (with the package representing the directory to the class file) in the XML.

PR #97 fixes this by searching the test sources index for `**/ClassName.m`.  However this only works if the test class name matches the file name it's in.  Searching by the real class name would require implementing the lex

[2015-11-05 04:01] mjdetullio commented on #88
Fixed in PR #97

[2015-11-05 04:04] mjdetullio commented on #51
Partial list of checks implemented in PR #97

[2015-11-05 05:00] sarang1991 commented on #94
What error you are getting ??? file not found or something else ???
U should modify sonar-project.properties in your sonar based on the format specified inside  sonar-objective-c/sample/

[2015-11-05 10:29] quantumarun commented on #94
error code 245.
sonar-project.properties file seems fine.

[2015-11-06 04:21] sarang1991 commented on #94
Do check your Quality profile tab in sonarqube main window..and make sure that under Objective-C Profiles there is OCLint.otherwise add it, and your database connectivity.

[2015-11-06 10:11] quantumarun commented on #94
OCLint is there in the profiles tab.
Also i am using Embedded Database if that can help. Check the bottom of the image.

![image](https://cloud.githubusercontent.com/assets/5046311/10994496/c748acd6-849c-11e5-9243-43bd4bc1bdb0.png)

[2015-11-07 07:51] rompic commented on #93
https://github.com/Backelite/sonar-swift

[2015-11-12 08:10] oleghnidets commented on #85
It helped me https://github.com/oclint/oclint/issues/251

[2015-11-17 00:39] danshim commented on #44
Having a similar problem. It is, in fact, multifold:
1) Since upgrading to Xcode 7.*, the coverage files indicate extremely large hit numbers, e.g.:
<line branch="false" hits="9223372036854775808" number="41"/> and the tool chokes on those numbers.

2) Even after sanitizing the cobertura file, NOTHING is uploaded to the server even though the processing seems to have been successful :

Sensor org.

[2015-11-24 11:30] aanjanhari opened #98 "NoSuchMethodError: org.sonar.api.resources.Project.getPackaging() when used against sonarqube5.2"
When executing analysis on an iOS project after upgrading from sonar5.1 to 5.2, it is failing with below errors.

org.sonar.runner.impl.RunnerException: Unable to execute Sonar
    at org.sonar.runner.impl.BatchLauncher$1.delegateExecution(BatchLauncher.java:91)
    at org.sonar.runner.impl.BatchLauncher$1.run(BatchLauncher.java:75)
    at java.security.AccessController.doPrivileged(Native Method)

[2015-11-24 11:52] aanjanhari commented on #98
I also observed that violations class is not there anymore in 5.2 That also requires fix.
org.sonar.api.rules.violation

[2015-11-26 13:30] aanjanhari commented on #98
@cyrilpicat Can you please put light on this issue?

[2015-11-27 15:48] zippy1978 commented on #93
Hi,

I just released a first version of the Swift SonarQube plugin here : https://github.com/Backelite/sonar-swift

[2015-11-30 06:27] #93 closed, assigned to nobody

[2015-12-08 09:44] benjamin-s-webcenter opened #99 "Xcode 7.X, erreur dans le fichier de Coverage -> "hits="9223372036854775808"""
Depuis le passage sous Xcode 7, je rencontre un problème avec le fichier de couverture de code qui contient des chiffres énormes qui font planter l'envoi des données vers SONAR.

-n Running SonarQube using SonarQube Runner
-n .
-n .
-n .
ERROR: Error during Sonar runner execution
ERROR: Unable to execute Sonar
ERROR: Caused by: For input string: "9223372036854775808"
ERROR:
ERROR: To see the full

[2015-12-14 15:48] datoujiejie opened #100 "java.lang.NoClassDefFoundError"
ERROR: Error during Sonar runner execution
org.sonar.runner.impl.RunnerException: Unable to execute Sonar
    at org.sonar.runner.impl.BatchLauncher$1.delegateExecution(BatchLauncher.java:91)
    at org.sonar.runner.impl.BatchLauncher$1.run(BatchLauncher.java:75)
    at java.security.AccessController.doPrivileged(Native Method)
    at org.sonar.runner.impl.BatchLauncher.doExecute(BatchLauncher.jav

[2015-12-14 16:17] rodrigoturnes commented on #88
How can I change the key then? I am running Octo and getting the "Caused by: No license for objc" error.

Thanks!

[2015-12-14 16:19] mjdetullio commented on #88
You have to build PR #97 from source and then change your key from `objc` to `objectivec`

[2015-12-14 16:29] rodrigoturnes commented on #88
Wow, seems to be a lot of re-work! Is there any chance of uninstalling SonarSource plugin in order to give precedence to Octo?

[2015-12-14 16:31] mjdetullio commented on #88
Yes, uninstalling one of the plugins will remove the conflict.

[2015-12-14 16:32] rodrigoturnes commented on #88
Which is the proper way to uninstall SonarSource plugin? Been trying to achieve this but couldn't...

[2015-12-14 20:46] rodrigoturnes commented on #88
Solved the issue, switched plugins and worked.

Thanks for your help!

[2015-12-17 09:19] ryuzmukhametov commented on #100
I've expired same problem when I use SonarQube 5.2.
When I use SonarQube 4.5.6 I don't have this issue. So as I understand org/sonar/api/rules/Violation was removed in new SQ version. At least I can't find it [here](https://github.com/SonarSource/sonarqube/tree/master/sonar-plugin-api/src/main/java/org/sonar/api/rules)

[2015-12-21 01:26] datoujiejie commented on #100
Thank you.
SonarQube 4.5.6 is OK.

[2015-12-21 01:26] #100 closed, assigned to nobody

[2015-12-25 06:23] isnotnull commented on #100
Same problem, and I can't downgrade SonarQube, so I'm stuck here.

[2016-01-04 15:01] gretzki commented on #98
@aanjanhari
The violations api was deprecated and has been removed in sonarqube api 5.2. (See https://github.com/SonarSource/sonarqube/commit/0d9baa81b9c819e1ded0e841be00ef10d4f6fc0e for details)
Since this plugin still depends on the old api, it must be refactored first.

[2016-01-07 04:45] zafarella commented on #87
same issue with

[code]

[2016-01-11 02:36] atleast commented on #98
For getPackaging issue, I found the info: SONAR-2341 API: Deprecate Project.getPackaging (https://jira.sonarsource.com/browse/SONAR-2341). So the plugin should remove this API when using Sonar 2.8 and above.

[2016-01-14 10:33] aniaMu opened #102 "java.lang.NoClassDefFoundError: org/sonar/api/resources/ProjectFileSystem"
SonarQube 5.3 changed their API and removed the ProjectFileSystem class and running any analysis against this version throws the following error:

[code]

[2016-01-19 10:26] jinkerry commented on #71
same problem  like SivaTrichy

[2016-01-20 06:05] akshaysyaduvanshi commented on #44
Facing similar problem with Xcode 7.x
Cobertura Coverage report is generated and sonar runner also processes the coverage.xml report.
Using slather to generate to cobertura report.
But it is not visible on sonar dashboard.
Did anyone find the solution to this issue?

[2016-01-21 11:32] akshaysy opened #103 "Not working with Xcode 7.x"
I am generating coverage report form Xcode 7 Profdata. And i am using slather plugin to generate xml report. It generates coverage report. But when i run sonar-runner it shows me log "processing coverage report" . But it is not visible on the sonar dashboard.

[2016-01-26 19:30] Pivotal-Jonathan-Yeung opened #105 "Does this plugin work with Xcode 7?"
Hi there,

I've been trying to get this plugin to work on an iOS 8/9 project in the past couple days with no results. My sonar runner keeps returning a "Can not parse surefire reports". I've noticed that the last commit was over a year ago. Is this plugin still working with Xcode 7?

Thanks

[2016-01-26 22:39] #105 closed, assigned to nobody

[2016-01-28 08:44] hrskrs commented on #102
Same issue here. Tried [PR#79](https://github.com/octo-technology/sonar-objective-c/pull/97) also but this time there is no `Covarege `or issue report or any other report shown. They are all set to **0**.

[2016-01-28 14:44] hrskrs commented on #44
Facing same issue with Xcode 7.x. Eventhough the **cobertura.xml** file is generated successfully (not empty) and `sonar-runner` not giving any error or any log that failed to parse `cobertura.xml` file (in debugging mode also).

fyi: _Cobertura plugin_ is also installed and i am using a build from [PR#79](https://github.com/octo-technology/sonar-objective-c/pull/97).

Sonar: 5.3
Sonar-runner: 2.4

[2016-02-01 16:52] russnettle commented on #102
Seeing a similar problem  - I get the following when trying to run against 5.3
ERROR: Error during Sonar runner execution
ERROR: Unable to execute Sonar
ERROR: Caused by: Unable to register extension org.sonar.plugins.objectivec.core.ObjectiveCSourceImporter
ERROR: Caused by: org/sonar/api/resources/ProjectFileSystem
ERROR: Caused by: org.sonar.api.resources.ProjectFileSystem

[2016-02-05 11:44] Sulfkain commented on #102
Same problem here.
Will be some fix soon?

Thank you very much for this excelent work :).

[2016-02-06 00:08] oliviertavel commented on #102
Hi !
I've same problem for sonar-runner execution too.
Waiting fix.
Thank you !

[2016-02-08 08:13] hrskrs commented on #102
If you check latest commits you can see that `ProjectFileSystem`  was deleted. A solution to this is to use  [PR#97](https://github.com/octo-technology/sonar-objective-c/pull/97) which solves most of the deprecated functions. However there is an issue about objective-c coverage (cobertura).

[2016-02-10 13:29] oliviertavel commented on #102
Thank you @hrskrs !
But I don't know Java and can you build and create a jar (plugin) for this PR, pls ?

[2016-02-10 13:42] hrskrs commented on #102
You can download [jar file from here](https://www.dropbox.com/s/w3qfapnb0xqy5s7/sonar-objective-c-plugin-0.5.0-SNAPSHOT.jar?dl=0)

[2016-02-10 13:48] akshaysyaduvanshi commented on #44
Even i was facing the same problem. But late it got solved.
Issue was i was running slather and sonar-runner in different directory.
Make sure you run both the commands in the same directory.

[2016-02-10 15:25] oliviertavel commented on #102
Thank you @hrskrs !!!

[2016-02-25 10:57] Pierrot42 commented on #102
Hello, @hrskrs can you share your jar one more time please ?

[2016-02-26 15:34] smmcdonald commented on #102
@hrskrs jar file download URL is broken.
@Pierrot42 I'll host the snapshot for a brief time on my google drive. Get it while it's hot.
https://drive.google.com/file/d/0B8TMhTccVIJ-d1lvN3dxb1M4a3c/view?usp=sharing

[2016-02-26 16:34] Pierrot42 commented on #102
thank you very much @smmcdonald ;)

[2016-02-29 03:42] nayaknamit commented on #102
How to use this jar file where i need to placed it

[2016-03-01 10:52] MAJID12 commented on #102
it does not work

[2016-03-01 11:00] nayaknamit commented on #102
Can you help me out as this exception is still coming how should i proceed further to setup sonar qube on my mac

[2016-03-03 08:58] hrskrs commented on #102
@nayaknamit you have to place the jar on plugins section of sonar instalation folder

[2016-03-06 10:00] MAJID12 commented on #102
Thank you @smmcdonald

[2016-03-08 01:14] tiennth commented on #102
@hrskrs is this the folder which i should put the jar in: ${SONAR_HOME}/libexec/extensions/plugins ?
I can't start sonar after put the jar into that folder.

[2016-03-08 04:04] tiennth commented on #102
Hi @hrskrs, i have installed the **0.5.0-SNAPSHOT** successfully by putting it into ${SONAR_HOME}/libexec/extensions/downloads folder then restart sonar.
But now it show me this error: **ERROR: You must install a plugin that supports the language 'objc'**
Did anyone get this problem? How to fix it?

[2016-03-22 06:02] wangpc commented on #87
same issue and already do `pod install`
error still there ~

[2016-03-27 10:53] amin234 opened #106 "zero issues in dashboard"
although analyse log looks good and successful
but dashboard still return zero issues
my issue it seems like others on this thread but there no correct replies
i read all issues in thread but non of any replies fit this issue
http://postimg.org/image/cnxfqrsmp/

[2016-03-27 11:30] amin234 commented on #106
i found this error in log
ERROR - Error processing file named /Users/sala7/Downloads/GreatReader-master/sonar-reports/oclint.xml
java.io.FileNotFoundException: /Users/sala7/Downloads/GreatReader-master/sonar-reports/oclint.xml (No such file or directory)

[2016-03-27 12:03] amin234 commented on #106
Reporting 0 violations.now

[2016-03-27 12:21] amin234 commented on #85
hi @bkottcamp how to switched from OCLint 0.8.1 to OCLint 0.9 dev

[2016-03-30 08:24] #106 closed, assigned to nobody

[2016-03-30 09:48] amin234 opened #107 "sonar-objective-c-plugin-0.4.1 link not found"

[2016-03-30 09:53] #107 closed, assigned to nobody

[2016-03-30 15:43] bkottcamp commented on #85
@amin234 I've now switched to OCLint 0.10.2 by installing and adding it to the path before calling run-sonar:
OCLINT_HOME=/Applications/oclint/oclint-0.10.2
export PATH=$OCLINT_HOME/bin:$PATH

[2016-04-01 08:21] SatyajeetHardikar commented on #102
Hi, I am facing the same issue. Could anyone please share the jar again? Many thanks

[2016-04-07 12:48] SergeVKom commented on #103
I faced with the same problem:
15:33:05.622 INFO  - Processing OCLint report /Users/jenkins/workspace/test_sonar/sonar-reports/oclint.xml
15:33:05.625 ERROR - Error processing file named /Users/jenkins/workspace/test_sonar/sonar-reports/oclint.xml
java.io.FileNotFoundException: /Users/jenkins/workspace/test_sonar/sonar-reports/oclint.xml (No such file or directory)

[2016-04-16 03:44] ledwards08 commented on #87
I have same problem now.
Is there any way to resolve this?
I've installed pod and my XCode version is 7.3

[2016-04-19 21:58] gbazilio commented on #86
Stuck with this too

[2016-04-25 07:37] niitMobileLab commented on #102
Hi All,
I tried adding this snapshot jar in plugins directory but after that Sonar server is not starting up showing this error

org.sonar.api.utils.MessageException: Found two files for the same plugin [objectivec]: sonar-objective-c-plugin-0.5.0-SNAPSHOT.jar and sonar-objective-c-plugin-0.4.0-3.jar

Please help as I'm configuring this for Objective C project in MAC

[2016-04-25 08:58] hrskrs commented on #102
@niitMobileLab  Remove `sonar-objective-c-plugin-0.4.0-3.jar` manually from sonar folder and restart sonar

[2016-04-25 09:35] niitMobileLab commented on #102
Thanks @hrskrs ,as you suggested I removed sonar-objective-c-plugin-0.4.0-3.jar and after that had to change the key to objectivec and finally it worked.

Thanks again

[2016-04-27 04:48] niitMobileLab opened #108 "Couldn't delete lock file: /Users/Documents/ProjectDir/.sonar_lock java.nio.file.NoSuchFileException: /Users/ProjectsDirectory/.sonar_lock"
Hi All,

I'm trying to configure sonar with objective c and for the same I've installed all the required plugins
Able to generate all the required files  coverage.xml, clint.xml, Test-report.xml with ./run-sonar.sh.

After generating this files, sonar-runner is showing this error: Please help if anyone has faced similar error

INFO: Sensor Objective-C OCLint Sensor (done) | time=242ms
INFO: Sensor

[2016-04-27 08:32] jinkerry opened #109 "SonarQube5.4 Unable to register extension ObjectiveCSourceImporter"
When run the analysis in Jenkins, return this exception:

[code]

[2016-05-04 08:11] CQHO commented on #102
no issues reported by the sonar-objectivec-0.5....but exception from 0.4

[2016-05-04 08:11] CQHO commented on #102
any fix will come soon?

[2016-05-04 20:24] wdvr commented on #71
Same here

[2016-05-05 02:43] nicolastinkl commented on #102
Environment:
1.  Sonarqube-5.5
2.  Xcodebuild -version(  Xcode 7.3  Build version 7D175)
3.  Sonar-objective-c -version(0.4.0,master)
4.  Mysql(Ver 14.14 Distrib 5.7.10, for osx10.11 (x86_64))
5. OCLint installed. Version 0.8.1
6. xctool -version (0.2.7)

Here is the error info:

[code]

when i was delete the file*jar: "sonar-objective-c-plugin-0.4.0-sources.jar", but the Analyics failed.

[2016-05-09 09:08] durga0303 commented on #86
same issue

[2016-05-11 11:45] TorstenKruse commented on #109
same as https://github.com/octo-technology/sonar-objective-c/issues/102?

[2016-05-12 07:40] jinkerry commented on #109
yes, I think so.

[2016-05-12 10:46] plaetzchen commented on #86
I have the exact same issue running SonarQube 5.4 and the latest official release. Any fixes?

[2016-05-16 02:12] galenzhao commented on #94
same error code,
after rebuild jar package

[2016-05-17 15:24] NSCabezon commented on #87
Hi, I'm having the same issue here Xcode 7.3.1. Anyone got it to work?

[2016-06-01 02:37] cjran commented on #102
@hrskrs
   hi, I'm sorry to trouble you. I conn't  download this jar on "https://www.dropbox.com/s/w3qfapnb0xqy5s7/sonar-objective-c-plugin-0.5.0-SNAPSHOT.jar?dl=0".Can you send an email to my mailbox.My email is 442012208@qq.com.

Thank you every much.

[2016-06-01 03:30] Lrdcq commented on #102
@cjran http://o6w2l3t00.bkt.clouddn.com/sonar-objective-c-plugin-0.5.0-SNAPSHOT.jar

[2016-06-01 03:56] Lrdcq commented on #71
Same here and using: SonarQube 5.5 , sonar-objective-c-plugin-0.5.0-SNAPSHOT.jar.
No error in processing OCLint report at all. Like this:

[2016-06-01 08:05] cjran commented on #102
@Lrdcq
 Thanks.But the sonar has no issues reported by sonar-objective-c-plugin-0.5.0-SNAPSHOT.jar

[2016-06-03 15:23] nfalco79 commented on #102
me too

[2016-06-06 11:19] farion commented on #102
same here

[2016-06-07 10:07] Deub27 commented on #102
same here. No issue reported by sonar-objective-c-plugin-0.5.0-SNAPSHOT.jar

[2016-06-08 17:09] nfalco79 commented on #102
I'm trying to move to backelite fork.

[2016-06-24 07:12] JasonXZh commented on #102
just sonar5.3 can use sonar-objective-c-plugin-0.5.0-SNAPSHOT.jar ?
I use this jar with sonar 5.5 and it doesn't work.

[2016-07-05 05:45] erictamlam opened #110 "The number of "Classes" is always zero in the custom dashboard"
As the title says, the number of "Classes" is always zero in the custom dashboard?

[2016-07-11 13:44] Nagesh-Chandan commented on #86
I'm using SonarQube 5.6 and has the same issue. any solution yet?.

[2016-07-11 13:59] Nagesh-Chandan commented on #86
I have commented out the 'sonar.language=objc' line from properties file and it worked!!.

[2016-07-28 14:46] xiaogong-li commented on #87
have the same issue.No one kowns the solution?

[2016-08-04 13:50] KunalV2 commented on #102
Hello,

I am getting error **"You must install a plugin that supports the language 'objc'".** while using plugin. Below is the require details and error log. what should i pass in sonar.language? any help would be appreciated.

I downloaded sonar-objective-c-plugin-0.5.0-SNAPSHOT.jar plugin from https://drive.google.com/file/d/0B8TMhTccVIJ-d1lvN3dxb1M4a3c/view as version 0.4.0 is not compatible wi

[2016-08-09 07:58] ghost commented on #102
@KunalV2 You should change the language from objc to objectivec with the sonar-objective-c-plugin-0.5.0-SNAPSHOT.jar plugin.

The problem I have now is that no issues are reported with the sonar-objective-c-plugin-0.5.0-SNAPSHOT.jar

[2016-08-12 08:36] carlobongiovanni commented on #86
This depends on the plugin that you have installed in sonarqube. If it is the "octo" version, than the right value is "objectivec". If you have installed the backelite version, than it is objc. the problem is not related to this project.

[2016-09-22 09:16] joanfon opened #111 "Not compatible with Sonar 6.0"
After updating to SonarQube 6.0 I get the following error:

[code]

The projects using **other** plugins are working without problems, only the projects using sonar-objective-c plugin are throwing that error.

[2016-09-26 10:40] jkingithub opened #112 "java.lang.IllegalStateException: Fail to copy report to file:"
Using SonarQube 5.2 with tunner 2.4 in AIX 7.1. getting the below error and not able to analyze the report

2016.09.26 01:31:30 ERROR web[o.s.s.w.WebServiceEngine] Fail to process request http://localhost:9000/api/ce/submit?projectKey=dev&projectName=ruw_model&projectBranch=
java.lang.IllegalStateException: Fail to copy report to file: /apps/websphere/sonar/sonarqube-5.2/data/ce/reports/AVdl1cTSwn

[2016-10-03 10:11] amin234 opened #113 "Xctool error"
xctool doesn't support building since Xcode 8 :(

xctool[7441:81855] **\* Assertion failure in __LaunchXcodebuildTaskAndFeedEventsToReporters_block_invoke(), /tmp/xctool20160411-73857-17y7ykv/xctool-0.2.9/Common/XCToolUtil.m:380
2016-10-03 13:01:12.892 xctool[7441:81855] **\* Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Got error while trying to deserializ

[2016-10-04 13:01] richlewis14 commented on #111
Hi, getting the same issue when using SonarQube 6.0

[2016-10-07 07:57] TYRONEMICHAEL commented on #111
+ 1

[2016-10-07 07:57] TYRONEMICHAEL commented on #111
Same issue here +1

[2016-10-10 07:53] amin234 opened #114 "SonarQube Scanner fail with specific rule"
ERROR: Error during SonarQube Scanner execution
The rule 'OCLint:use object subscripting' does not exist.

[2016-10-11 15:37] jofremm commented on #111
I'm getting the same exception with sonar-objective-c-plugin-0.5.0-SNAPSHOT.jar

[2016-10-24 13:33] martinduris commented on #111
Hi,
is there anything new with this error ? Can i help somehow ? :-)

[2016-10-25 09:04] sergiobaro commented on #87
I had this problem and I fixed it adding the workspace to the sonar properties file.

sonar.objectivec.workspace=MyApp.xcworkspace
sonar.objectivec.project=MyApp.xcodeproj
sonar.objectivec.appScheme=MyApp

[2016-10-26 09:12] martinduris commented on #113
Hi,
check here : https://github.com/facebook/xctool/issues/704
... facing same issue

[2016-10-31 15:18] ghost commented on #111
Same issue here :-(

[2016-11-11 05:45] uditsalwan commented on #111
Same exception with sonar-objective-c-plugin-0.5.0-SNAPSHOT.jar.

[2016-11-20 11:04] #114 closed, assigned to nobody

[2016-11-21 06:26] nishanthchandra commented on #86
sonarqube is not recognizing objective-C plugin. Does anyone know of any workaround ?

[2016-12-07 11:44] sirghi commented on #92
Hi Cyril, I'm also setting up an objc project and I have the exact same problem. It only looks directly under the folders setup in source.tests, not recursively. I have a mixed objc/swift project, and when I use the swift plugin it drills through all the subfolders and finds the tests.

Hence I think the problem is with the plugin. Do you have any time to look into this?
Thanks

[2016-12-15 16:44] stas6100 commented on #102
I have problem running `sonar-runner` (SonarQube Scanner 2.5) against SonarQube Version 5.6.4.
If I use `sonar-objective-c-plugin-0.4.0.jar` I get
```java.lang.IllegalStateException: Unable to register extension org.sonar.plugins.objectivec.core.ObjectiveCSourceImporter```

and if I use: `sonar-objective-c-plugin-0.5.0-SNAPSHOT.jar`

I get
`You must install a plugin that supports the language 'obj

[2016-12-27 20:53] AriX commented on #111
This fork has Sonar 6 support in progress: https://github.com/Backelite/sonar-objective-c

[2016-12-30 03:42] Darcygsc commented on #114
i have the same issue

[2017-01-05 15:25] stas6100 commented on #102
Just wanted to follow up on the above, any feedback? Thanks

[2017-01-06 09:52] jared198504 opened #115 "The rule 'OCLint:use container literal' does not exist."
Please help me to resolve this issue.
I am facing error while running the "sonar-runner" cmd.
I am using Xcode 7.3 with iOS 9., OCLint version 0.11.

+ xctool -workspace GoodTransport.xcworkspace -sdk iphonesimulator ARCHS=i386 VALID_ARCHS=i386 CURRENT_ARCH=i386 ONLY_ACTIVE_ARCH=NO -scheme GoodTransport -reporter json-compilation-database:compile_commands.json build
+ returnValue=0
+ set +x
Skippi

[2017-01-11 06:13] Pirate77 opened #116 "The rule 'OCLint:prefer early exits and continue' does not exist."
First thank you for your objective-c plugin.
I am using Xcode8, OCLint 0.11. When running sonar-runner, errors appear like this:
    ERROR: Error during Sonar runner execution
    ERROR: Unable to execute Sonar
    ERROR: Caused by: The rule 'OCLint:prefer early exits and continue' does not exist.

Please help to resolve this issue. Thank you very much.

[2017-01-16 09:07] haithngnbak commented on #86
the same issue SonarQube 5.4

[2017-01-16 10:03] hoanganhbk94 opened #117 "Sonar runner"
I don't install sonar runner by brew. Help me. Thanks!

[2017-01-30 21:11] haynzz commented on #83
I have a similar problem with the swift plugin. But it only appears when I have a failing test. Do you also have a failing test?

[2017-02-04 07:34] daikaixian opened #118 "sonarqube restart failed after install the plugin"
It's sonarqube-6.2.
And I put the jar in the $SONARQUBE_HOME/extensions/plugins directory
then Copy run-sonar.sh somewhere in my PATH
but Restart the SonarQube server FAILED!!!

No log show the reason, just tell me that Process[es] is stopping,Process[web] failed to start,Process[es] is stopped.

Anyone know how to fix?
THX.

[2017-02-10 07:44] BevisssLiu commented on #118
same problem! I'm using sonarqube-6.1.
I've tried many times, sonar start will permanently  fail, as long as I put jar under $SONARQUBE_HOME/extensions/plugins, I'll have to reinstall sonarqube again.

[2017-02-13 01:35] daikaixian commented on #118
@BevisssLiu   I know the problem .
It's because the newest sonar-objective-c.jar not support  sonarqube-6.x.
Only 5.x and other older version sonarqube was supported.

[2017-02-17 09:40] puneetsoni1 commented on #102
Hi I used this plugin for sonarqube 6
sonar-objective-c-plugin-0.5.0-SNAPSHOT.jar
its show error
java.lang.NoSuchMethodError: org.sonar.api.resources.File.fromIOFile(Ljava/io/File;Lorg/sonar/api/resources/Project;)Lorg/sonar/api/resources/File; at org.sojnar.plugins.objectivec.ObjectiveCSquidSensor.saveViolations(ObjectiveCSquidSensor.java:145)
please tell me how to fix it

[2017-03-10 14:40] ropherpanama commented on #102
I have the same problem with Sonarqube 5.5. I am trying to use an ESQL plugin, the error is
`java.lang.IllegalStateException: Unable to register extension com.exxeta.iss.sonar.esql.core.EsqlSourceImporter`
....
`Caused by: java.lang.NoClassDefFoundError: org/sonar/api/resources/ProjectFileSystem`

[2017-04-13 10:42] boranx commented on #117
I think that sonnar-runner was replaced by sonar-scanner

Try this one : `brew install sonar-scanner `

[2017-08-29 07:32] muralinewscorp opened #119 "How can i assign dynamic app version everytime when I run sonar?"
Everytime app version in sonar can be modified by

`sonar.projectVersion=1.0` in the `sonar-project.properties` file.

Is there any way to update it dynamically by making it read from the iOS files/code.

[2017-10-23 09:31] TorstenKruse commented on #102
Looks like this plugin is no longer supported. Perhaps this fork will help (didn't try myself): https://github.com/Backelite/sonar-objective-c/releases

[2017-11-20 10:16] hemantaltair opened #120 "Where is the jar file ?"

[2017-12-29 15:39] wolf81 opened #121 "Collection violations for /path/to/Class.m"
Can't find any documentation on the above error.

In a project I work on I see the above error. I am not sure what the error is supposed to mean. What I would like to know is in what situations this error could occur, then perhaps I can debug and fix the error.

[2018-01-11 23:43] neo-logic opened #122 "java.lang.UnsupportedOperationException: Metric 'file_complexity' should not be computed by a Sensor"
15:28:56.786 INFO: Sensor org.sonar.plugins.objectivec.complexity.LizardSensor [backelitesonarobjectivecplugin]
15:28:56.786 INFO: Processing complexity report
15:28:57.219 INFO: Saving results of complexity analysis
15:28:57.222 DEBUG: Save measure Cyclomatic Complexity for file /xxxxx/xxxx/File.m
15:28:57.222 DEBUG: Save measure Functions for file /xxxxx/xxxxx/FIle.m
15:28:57.222 DEBUG: Save mea

[2018-01-12 23:17] ian-whitestone commented on #44
Any updates on this?
I'm running into the same issues as people have mentioned above. In the sonar logs it shows that is succesfully parses the coverage report:

[code]

I even printed the coverage.xml file previously in my jenkins pipeline and it looks fine:

[code]

[2018-03-15 13:29] CRoig commented on #118
is there any objective c plugin that works with sonarQube 7.0?

[2018-07-31 15:17] egr-ext opened #124 "0 bugs 0 Vulnerabilities reported, another plugin for Objective-C"
Good morning,

The sonar-objective-c plugin reports the "Code Smells" but it does not report any "Bugs" neitheir "Vulnerabilities".
Is there an open source free plugin that would report them ?

Many thanks

[2018-08-03 15:06] egr-ext commented on #124
open there https://github.com/Backelite/sonar-objective-c/issues/66

[2018-08-03 15:06] #124 closed, assigned to nobody

[2018-09-18 06:35] lmy690043305 opened #125 "get the wrong Cyclomatic Complexity of a function"
- (void)initMyScrollViewContentView{

    self.myScrollViewContentView = [[UIView alloc] initWithFrame:CGRectZero];
    self.myScrollViewContentView.backgroundColor = RGBCOLOR(0xff, 0xff, 0xff);
    [self.myScrollView addSubview:self.myScrollViewContentView];
    [self.myScrollViewContentView mas_makeConstraints:^(MASConstraintMaker *make) {
        make.edges.mas_equalTo(self.myScrollView);

[2019-01-07 05:36] FDU-SE-LAB opened #126 "Your project octo-technology/sonar-objective-c is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2022-02-15 15:07] #24 closed